/build
/*.pyc
/*.old
/.config
/.sconsign.dblite
/rtconfig.h
/rtthread.bin
/rtthread.elf
/rtthread.map
/tools/rtthread-with-spl.bin
/tools/rtthread-with-tf.img
/tools/rtthread.bin
/tools/rtthread.mki
/packages
